/* 清除浮动 */
.clearfix::after{
    content:"";
    display:block;
    clear:both;
}
.container{
    width:90%;
    height:700px;
}
.container h1{
    margin-top:45px;
    font-size:26px;
    font-weight:500;
    text-align: left;
}
.basic{
    margin-top:10px;
    width:1000px;
    height:360px;
    border:1px solid #ccc;

}
.show{
    margin-top:30px;
    height:400px;
    width:200px;
    float:left;

}
.show ul{
    width:200px;
    height:400px;
}
.show ul>li{
    margin-left:40px;
    font-size:22px;
    height:45px;
    font-weight:400;
    margin-top:9px;
}
.edit{
    margin-top:30px;
    height:400px;
    width:300px;
    float:left;
}
.edit .email , .edit .nickname , .edit .sex , .edit .img{
    width:120px;
    height:50px;

}
.edit input{
    width:240px;
    margin-top:8px;
    height:45px;
    border-radius: 4%;
    border:1px solid #ccc;
}
