/* 清除浮动 */
.clearfix::after{
    content:"";
    display:block;
    clear:both;
}
.header {
    width:100%;
    height:60px;
    margin:0 auto;

}
.header h1{
    margin-top:20px;
    color:#222226;
    font-size:22px;
    font-weight:500;
    text-align: center;
    position:relative;

}
.header .edit{
    width:100px;
    height:60px;
    position:absolute;
    left:1400px;
    top:20px;

}
.edit button{
    font-size:19px;
    margin-top:10px;
}
.foot{
    width:100%;
    height:300px;
    margin:0 auto;
}
/* nickname */
.foot  h2 {
    font-size:22px;
    font-weight:400;
    color:#787d86;
    text-align: center;
}
.foot .img{
    margin:0 auto;
    width:50px;
    height:50px;
}
.img img{
    width:50px;
    height:50px;
}
/* .info .nav{
    margin-top:15px;
    width:100%;
    height:100px;
} */
.info .flex{
    margin-top:15px;
    width:100%;
    height:100px;
    display: flex;
    justify-content: center;
}
.flex .a, .flex .b, .flex .c, .flex .d{
    width:200px;
    height:100px;
}
.browseNum a ,.blogNum a ,.focusNum a, .fansNum a{
    font-size:24px;
    font-family: DINCond-Black;
    text-align: center;
    color:#222226;
    line-height: 24px;
}
.browseNum a:hover, .blogNum a:hover, .focusNum a:hover, .fansNum a:hover{
    color:#fc1944;
    text-decoration: none;
}
.browse , .blog , .focus, .fans{
    color:#999aaa;
    margin-top:10px;
}
.center{
    width:100%;
    margin:0 auto;
    background-color: #f4f5f5;
}
.left{
    width:300px;
    height:700px;
    float:left;
    margin-right:30px;
    margin-left:25px;
    margin-top:20px;

}
.left .achive{
    margin-top:15px;
    width:90%;
    height:300px;
    background-color: #fff;
}
.achive h1{
    padding-left:5px;
    line-height:48px;
    font-size:25px;
    color:#222226;
    font-weight:500;
    border-bottom: 1px solid #e8e8ed;
}
.achive .like , .achive .comment, .achive .collect{
    margin-top:15px;
    color:#555666;
    font-size:18px;
    padding:15px;
}

.show{
    margin-top:20px;
    width:90%;
    height:300px;
    background-color: #fff;
}
.show h1{
    padding-left:5px;
    line-height:48px;
    font-size:25px;
    color:#222226;
    font-weight:500;
    border-bottom: 1px solid #e8e8ed;
}
.show .classify{
    margin-top:15px;
    color:#555666;
    font-size:18px;
    padding:15px;
}
.right{
    margin-top:35px;
    width:800px;
    height:700px;
    float:left;
    margin-left:20px;
    background-color: #fff;

}
.right .analyz{
    margin-left:30px;
    width:700px;
    height:600px;
    float:left;
    background-color: #fff;
}
.analyz h1{
    /* padding-left:20px; */
    text-align: center;
    line-height:48px;
    font-size:25px;
    color:#222226;
    font-weight:500;
}