body{
    margin:0 auto;
    background:url("../img/index.jpg");
}
.container{
    width:80%;
    margin:0 auto;
    background-color: #fff;
    border-bottom: 1px solid #f0f0f2;
}
.container .item{
    background-color: #fff;
    margin-left:20px;
    margin-top:20px;
    width:90%;
    height:175px;
    padding:24px;
    display: flex;
    border-bottom: 1px solid #5e8b7e;
}
.item .right{
    position:relative;
    float:right;
    width:300px;
    height:90px;
}
.update {
    position:absolute;
    top:0;
    left:2px;
    height:40px;
}
.image{
    top:50px;
    position:absolute;
    height:40px;
}
.update a{
    margin-left:10px;
    cursor:pointer;
    color:#907fa4;
    float:left;
    cursor: pointer;
}
.right img{
    margin-left:10px;
    width:150px;
    height:100px;
}
.item .content{
    float:left;
    flex:1;
    display: flex;
    flex-direction: column;
}

.content h1{
    font-size:26px;
    font-weight:500;
    text-align: center;
    color:#907fa4;
}
.con{
    width:840px;
    height:90px;
}
.content a{
    text-decoration: none;
}
.content .tag {
    color:#222226;
    font-size:22px;
    font-weight:500;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    line-height:25px;
    margin-bottom: 10px;
}
.tag a{
    cursor: pointer;
}
.tag a:hover{
    text-decoration: underline;
}
.content .ticontent{
    font-size:16px;
    font-weight:400;
    height:80px;
    color:#555666;
    min-height: 6px;
    -webkit-line-clamp: 2;
    min-height: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.operate .like{
    margin-top:37px;
    width:60px;
    height:60px;
    float: left;
}
.operate .show{
    margin-top:35px;
    width:500px;
    height:60px;
    float: left;
}
.show ul{
    margin-top:12px;
    width:500px;
    height:60px;
}
.show ul>li{
    width:90px;
    float:left;
}
.like img{
    width:24px;
    height:24px;
    cursor: pointer;
}
.ispublish{
    width:90%;
    height:auto;
}
.publish{
    width:90%;
    height:auto;
}
.notpublish{
    width:90%;
    height:auto;
}